.bounce {
  animation: animation-bounce .5s linear;
}

@keyframes animation-bounce {
  0%{
    transform: translateX(10%);
    transform: translateY(-10%);
  }
  100%{
    transform: translateX(0%);
    transform: translateY(0%);
  }
}