@import "tailwindcss";
:root {
  --primary: #2b2d42;
  --secondary: #32de8a;
  --tertiary: #FBFBFB;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  color: var(--color-tertiary);
}
